<table border="1" style="text-align: center">
    <h1 style="text-align: center"> All Data </h1>
    <thead style="color: white; background-color: black">
        <th style="width:auto">ID</th>
        <th style="width:auto">Address</th>
        <th style="width:auto">Borough</th>
        <th style="width:auto">Cuisine</th>
        <th style="width:auto">Grades</th>
        <th style="width:auto">Name</th>
        <th style="width:auto">Restaurant ID</th>
    </thead>

   <tbody>
            {{#DATA}}
                <tr style="width: auto">
                    <td> {{_id}} </td>
                    <td> {{address}}</td>
                    <td> {{borough}}</td>
                    <td> {{cuisine}}</td>
                    <td> {{grades}} </td>
                    <td> {{name}} </td>
                    <td> {{restaurant_id}} </td>
                </tr>
            {{/DATA}}
        </tbody>
    
</table>
